<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes" href="/tabs/recipes">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Rezepte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="generator" href="/tabs/generator">
      <ion-icon aria-hidden="true" name="color-wand"></ion-icon>
      <ion-label>Generator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>